:root {
  --primary-color: #101820; /** Dark Blue **/
  --text-color: #FFF7F2; /** White **/
  --accent-color: #E4002B; /** Red **/
  --header-fonts: Georgia, serif;
  --body-copy-fonts: "Courier New", monospace;
  --header-height: 5rem;
  --footer-height: 1rem;
}

.body {
  background-color: #101820;
  background-image: url(./images/background.png);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: min-content;
}

.header {
  font-family: var(--body-copy-fonts);
}

.header__nav {
  background-color: var(--primary-color);
  border-bottom: .3rem solid var(--accent-color);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
}

.header__nav__logo {
  margin-right: auto;
  padding: 1em;
  height: 3rem;
}

.header__nav__logo__image {
  height: inherit;
}

.header__nav__pages__link {
  align-content: center;
}

.header__nav__link__icon {
  display: none;
}

.header__nav__pages {
  padding: 1em;
  display: flex;
  gap: 2rem;
}

.header__nav__pages__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

.main {
  font-family: "Courier New", monospace;
}

.main__hero {
  height: 30em;
  background-color: var(--primary-color);
  background-image: url(./images/forest.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__header {
  font-size: 4rem;
  color: var(--accent-color);
  font-family: var(--header-fonts);
  text-align: center;
  text-transform: uppercase;
}

.header__outline {
  text-shadow:
    -2px -2px 0 var(--primary-color), /* Top-left shadow */
    2px -2px 0 var(--primary-color),  /* Top-right shadow */
    -2px 2px 0 var(--primary-color),  /* Bottom-left shadow */
    2px 2px 0 var(--primary-color);   /* Bottom-right shadow */
}

.button {
  background-color: var(--accent-color);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
}

.main__article {
  padding: 1rem;
}

.main__subheader {
  font-size: 2rem;
  color: var(--accent-color);
  font-family: var(--header-fonts);
}

.section__flex_row {
  display: flex;
  justify-content: center;
}

.img--padding_around {
  padding: 1em;
}

.img--block {
  display: block;
  max-width: 40%;
  align-self: center;
  object-fit: cover;
}

.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--text-color);
  border-top: .3rem solid var(--accent-color);
  font-family: "Courier New", monospace;
}

/* Transitions and Animations */
.img--fade_in {
  animation-name: imageFadeIn;
  animation-duration: 5s;
}

@keyframes imageFadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.links--transition {
  transition: all 1s;
}

.links--transition:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

/* tablet mobile site */
@media screen and (max-width: 1255px) {
  .header__nav {
    text-align: center;
    flex-wrap: wrap;
  }

  .header__nav__logo {
    padding-bottom: 3%;
  }

  .header__nav__link__icon {
    display: inline;
    padding: 1em;
    height: 2.5rem;
  }

  .header__nav__pages {
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
    display: none;
    position: fixed;
    top: calc(var(--header-height) + .2rem);
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: .25rem solid var(--accent-color);
  }

  .button {
    font-size: x-large;
  }

  .section__flex_row {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .img--block {
    max-width: 90%;
  }
}