:root {
  --primary-color: #101820;
  /** Dark Blue **/
  --text-color: #FFF7F2;
  /** White **/
  --accent-color: #E4002B;
  /** Red **/
  --header-fonts: Georgia, serif;
  --body-copy-fonts: "Courier New", monospace;
  --header-height: 5rem;
  --footer-height: 1rem;
}

.body {
  background-color: #101820;
  background-image: url(./images/background.png);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: min-content;
  max-width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-family: var(--body-copy-fonts);
}

.header__nav {
  background-color: var(--primary-color);
  border-bottom: .3rem solid var(--accent-color);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
}

.header__nav__logo {
  margin-right: auto;
  padding: 1em;
  height: 3rem;
}

.header__nav__logo__image {
  height: inherit;
}

.header__nav__pages__link {
  align-content: center;
}

.header__nav__link__icon {
  display: none;
}

.header__nav__pages {
  padding: 1em;
  display: flex;
  gap: 2rem;
}

.header__nav__pages__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

.main {
  font-family: "Courier New", monospace;
}

.main__hero {
  height: 30em;
  background-color: var(--primary-color);
  background-image: url(./images/forest.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__header {
  font-size: 4rem;
  color: var(--accent-color);
  font-family: var(--header-fonts);
  text-align: center;
  text-transform: uppercase;
}

.header--outline {
  text-shadow:
    -2px -2px 0 var(--primary-color),
    /* Top-left shadow */
    2px -2px 0 var(--primary-color),
    /* Top-right shadow */
    -2px 2px 0 var(--primary-color),
    /* Bottom-left shadow */
    2px 2px 0 var(--primary-color);
  /* Bottom-right shadow */
}

.button {
  background-color: var(--accent-color);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
}

.main__article {
  padding: 1rem;
}

.main__subheader {
  font-size: 2rem;
  color: var(--accent-color);
  font-family: var(--header-fonts);
}

.section__flex_row_desktop {
  display: flex;
  justify-content: center;
}

.img--padding_around {
  padding: 1em;
}

.img--block {
  display: block;
  max-width: 40%;
  align-self: center;
  object-fit: cover;
}

.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--text-color);
  border-top: .3rem solid var(--accent-color);
  font-family: "Courier New", monospace;
}

/* Behind the Scenes Page */

.main__header--padding {
  padding: 80px 0 0 0;
}

.main__subheader--border {
  text-align: left;
  align-items: center;
  background: rgba(16, 24, 32, 0.35);
  border: 3px solid rgba(228, 0, 43, 0.25);
  border-radius: 1rem;
  padding: 1.8rem 2rem;
  backdrop-filter: blur(2px);
  transition: transform 0.25s ease, border 0.25s ease, box-shadow 0.25s ease;
  max-width: 100%;
  margin-bottom: 20px;
}

.main__subheader--border:hover {
  transform: scale(1.01);
  border-color: var(--accent-color);
  box-shadow: 0 0 15px 3px rgba(228, 0, 43, 0.55);
  cursor: pointer;
}

.main__subheader--border::after {
  content: '▼';
  float: right;
  color: var(--text-color)
}

.summary--remove_marker {
  list-style-type: none;
}

.expandable_section[open] .main__subheader--border::after {
  content: '▲';
  align-content: right;
  color: var(--accent-color);
}

.expandable_content {
  font-size: 1.5rem;
  align-items: center;
  height: max-content;
}

.p--expandable_content {
  padding: 0 20px 0 0;
  margin: 0 0 0 20px;
}

.iframe--format, .gif--format {
  overflow: auto;
  min-width: 50%;
  min-height: 400px;
  background: rgba(16, 24, 32, 0.35);
  border: 1px solid rgba(228, 0, 43, 0.25);
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin-bottom: 20px;
  backdrop-filter: blur(2px);
  transition: transform 0.25s ease, border 0.25s ease, box-shadow 0.25s ease;
}

.img--format {
  background: rgba(16, 24, 32, 0.35);
  border: 1px solid rgba(228, 0, 43, 0.25);
  border-radius: 1rem;
  padding: 1rem 1rem;
  backdrop-filter: blur(2px);
  transition: transform 0.25s ease, border 0.25s ease, box-shadow 0.25s ease;
}

.format--img:hover, .bts_video:hover {
  transform: scale(1.03);
  border-color: var(--accent-color);
  box-shadow: 0 0 15px 3px rgba(228, 0, 43, 0.55);
  cursor: pointer;
}

.hr--divider {
  border: none; 
  border-top: 1px dashed var(--text-color); 
  margin: 0px 50px 20px 50px; 
  box-shadow: 4px 4px 10px var(--accent-color);
}

.button {
  font-size: x-large;
}

/* Transitions and Animations */
.img--fade_in {
  animation-name: imageFadeIn;
  animation-duration: 5s;
}

@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.links--transition {
  transition: all 1s;
}

.links--transition:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

/* tablet and mobile site */
@media screen and (max-width: 1255px) {
  .header__nav {
    text-align: center;
    flex-wrap: wrap;
  }

  .header__nav__logo {
    padding-bottom: 3%;
  }

  .header__nav__link__icon {
    display: inline;
    padding: 1em;
    height: 2.5rem;
  }

  .header__nav__pages {
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
    display: none;
    position: fixed;
    top: calc(var(--header-height) + .2rem);
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: .25rem solid var(--accent-color);
  }

  .section__flex_row_desktop {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .img--block {
    max-width: 90%;
  }

  .toggle_header {
    max-width: 100%;
    text-align: center;
  }

  .toggle_header::after {
    display: block;
    text-align: center;
    float: none;
    margin-top: 15px;
  }

  .iframe_responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}