:root {
  --primary-color: #101820; /** Dark Blue **/
  --text-color: #FFF7F2; /** White **/
  --accent-color: #E4002B; /** Red **/
  --header-fonts: Georgia, serif;
  --body-copy-fonts: "Courier New", monospace;
  --header-height: 5rem;
  --footer-height: 1rem;
}

.body {
  background-color: #101820;
  background-image: url(./images/background.png);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-family: var(--body-copy-fonts);
}

.header_nav {
  background-color: var(--primary-color);
  border-bottom: .3rem solid var(--accent-color);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
}

.header_nav_logo {
  margin-right: auto;
  padding: 1em;
  height: 3rem;
}

.header_nav_logo_image {
  height: inherit;
}

.header_nav_pages_link {
  align-content: center;
}

.header_nav_link_icon {
  display: none;
}

.header_nav_pages {
  padding: 1em;
  display: flex;
  gap: 2rem;
}

.header_nav_pages_link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}

.main {
  font-family: "Courier New", monospace;
}

.main_hero {
  height: 30em;
  background-color: var(--primary-color);
  background-image: url(./images/forest.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.main_header {
  font-size: 5rem;
  color: var(--accent-color);
  font-family: var(--header-fonts);
  text-align: center;
  text-transform: uppercase;
}

.bts_header {
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-color);
  font-family: var(--header-fonts);
  text-align: center;
  opacity: 100%;
  text-transform: uppercase;
  max-height: 150px;
  min-width: min-content;
}

.bts_hero {
  height: 20em;
  background-image: url(images/btsheader2.jpeg);
  background-image: -moz-linear-gradient(top, rgba(16, 24, 32, 0.6) 0%, rgba(16, 24, 32, 0.6) 100%), url(images/btsheader2.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: min-content;
  text-align: center;
}

.iframe_container {
  width: 560px;
  height: 340px;
  justify-content: center;
  padding: 40px 10px 30px 10px;
  box-sizing: border-box;
}

.bts_gif {
  max-width: 100%;
  box-sizing: border-box;
}

.button {
  background-color: var(--accent-color);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
}

.main_article {
  padding: 1rem;
}

.main_subheader {
  font-size: 2.5rem;
  color: var(--text-color);
  font-family: var(--header-fonts);
}

.toggle_header {
  background-color: rgba(128, 128, 128, 0.15);
  text-align: left;
  align-items: center;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--text-color);
  font-family: var(--header-fonts);
  max-width: 100%;
}

.toggle_header:hover {
  color: var(--accent-color);
}

.toggle_header::before {
  content: '▼';
  margin-right: 60px;
}

.expandable_section {
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  margin-bottom: 10px;
}

summary {
  list-style-type: none;
}

.expandable_section[open] .toggle_header::before {
  content: '▲';
}

.expandable_content {
  padding: 15px;
  border-top: 1px solid var(--accent-color);
  justify-content: space-evenly;
  max-width: 100%;
}

.bts_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border:#E4002B solid .25px;
}

.bts_container2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border:#E4002B solid .25px;
}

.content {
  padding-top: 10px;
}

.bts_content2 {
  max-width: 40%;
  text-align: left;
  font-size: 1.5rem;
  position: sticky;
  padding: 40px 20px 0 50px;
}

.bts_content {
  max-width: 40%;
  text-align: left;
  font-size: 1.5rem;
  position: sticky;
  padding: 10px 50px 0 20px;
}

.bts_image_gallery {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 0 20px 0;
  border: #E4002B solid .25px;
}

.bts_subtext2 {
  font-weight: bold;
  font-style: italic;
}

.bts_image {
  padding: 30px 10px 30px 10px;
}

.section_flexRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section_flexGrow {
  flex: 2;
}

.img-paddingAround {
  padding: .5rem;
}

.img-block {
  display: block;
}

.footer {
  margin-top: auto;
  background-color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--text-color);
  border-top: .3rem solid var(--accent-color);
  font-family: "Courier New", monospace;
}

/* Transitions and Animations */
.img-fadeIn {
  animation-name: imageFadeIn;
  animation-duration: 5s;
}

@keyframes imageFadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.links-transition {
  transition: all 1s;
}

.links-transition:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.btsgallery1:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}

.btsgallery2:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}

.btsgallery3:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}

/* tablet mobile site */
@media screen and (max-width: 1255px) {
  .header_nav {
    text-align: center;
    flex-wrap: wrap;
  }

  .header_nav_logo {
    padding-bottom: 3%;
  }

  .header_nav_link_icon {
    display: inline;
    padding: 1em;
    height: 2.5rem;
  }

  .header_nav_pages {
    flex-direction: column;
    text-align: center;
    flex-basis: 100%;
    display: none;
    position: fixed;
    top: calc(var(--header-height) + .2rem);
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: .25rem solid var(--accent-color);
  }
}

@media screen and (max-width: 793px) and (min-width: 320px) {

  .bts_header {
    font-size: 2.0rem;
    padding: 85px 0 0;
    max-height: 100px;
    min-width: 100%;
    justify-content: center;
  }

  .bts_hero {
    height: 15em;
    min-width: 100%;
  }

  .bts_subheader {
    font-size: 1.5rem;
  }

  .bts_content {
    align-items: center;
    padding: 20px 20px 0 10px;
    font-size: 1rem;
    min-width: 40%;
  }

  .bts_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  iframe {
    width: 320px;
    height: auto;
    justify-content: center;
    padding: 50px 10px 20px 10px;
  }

  .bts_content2 {
    align-items: center;
    padding: 0 20px 0 20px;
    font-size: 1rem;
    min-width: 15%;
  }

  .bts_container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bts_image {
    width: 340px;
    height: 220px;
    padding: 20px 10px 0px 10px;
  }

  .bts_image_gallery {
    flex-direction: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .bts_header {
    font-size: 1.25rem;
    padding: 85px 10px 0;
    max-height: 100px;
    min-width: 90%;
    justify-content: center;
  }

  .bts_hero {
    height: 12em;
    min-width: 100%;
  }

  .bts_subheader {
    font-size: 1rem;
    padding: 0 10px;
  }

  .bts_content {
    align-items: center;
    text-align: center;
    padding: 0;
    font-size: 0.75rem;
    min-width: 100%;
    padding: 10px 0 10px 0;
    justify-content: center;
  }

  .bts_content2 {
    align-items: center;
    text-align: center;
    padding: 0 0 0 0;
    font-size: 0.75rem;
    min-width: 100%;
  }

  .bts_container {
    display: flex;
    flex-direction: column;
  }

  .bts_container2 {
    display: flex;
    flex-direction: column;
  }

  .bts_image {
    width: 300px;
    height: auto;
    justify-content: center;
    padding: 20px 10px 0px 10px;
  }

  iframe {
    width: 300px;
    height: auto;
    justify-content: center;
    padding: 10px 0 20px 20px;
  }

  .bts_image_gallery {
    flex-direction: column;
    align-items: center;
  }
}